<th>
	<p>First name</p>
	<center>
		<% if !sorted[:alpha_asc] %>
			<%= link_to("ASC", anchor(names_sort_out_path(name_part: "first_name", sort: "ascend"))) %>
		<% end %>
		<% if !sorted[:alpha_desc] %>
			<%= link_to("DESC", anchor(names_sort_out_path(name_part: "first_name", sort: "descend"))) %>
		<% end %>
	</center>
</th>

<th>
	<p>Last name</p>
	<center>
		<% if !sorted[:beta_asc] %>
			<%= link_to("ASC", anchor(names_sort_out_path(name_part: "last_name", sort: "ascend"))) %>
		<% end %>
		<% if !sorted[:beta_desc] %>
			<%= link_to("DESC", anchor(names_sort_out_path(name_part: "last_name", sort: "descend"))) %>
		<% end %>
	</center>
</th>