<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
	<a id="anchor" href="#"></a>
	<% if @one_name %>
	<div class="row">
		<center>
			<div class="col-xs-12 one-generated-name">
				<p>Your generated name is:</p>
				<p><%= @one_name %></p>
			</div>
		</center>
	</div>
	<% elsif @collected_names %>
	<table class="table table-hover">
		<thead>
			<%= render partial: "sorted", locals: { sorted: @sorted } %>
		</thead>
		<tfoot>
			<th>Number of names:</th>
			<th><%= @names_count %></th>
		</tfoot>
		<tbody>
			<% @collected_names.each do |full_name|%>
			<tr>
				<td><%= full_name[:first_name] %></td>
				<td><%= full_name[:last_name] %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<% else %>
	<center>
		<div class="row">
			<div class="jumbotron col-xs-12">
				<h1>You <span>didn't generate a name</span> yet...</h1>
			</div>
		</div>
	</center>
	<% end %>
	</div>
</div>