<%= form_tag({controller: 'names', action: 'generate_love_names'}, {method: 'get'}) do %>
	<%= hidden_field_tag('alpha', 'create alpha name') %>
	<%= submit_tag('Generate a First Name') %>
<% end %>



<%= form_tag({controller: 'names', action: 'generate_love_names'}, {method: 'get'}) do %>
	<%= hidden_field_tag('beta', 'create beta name') %>
	<%= submit_tag('Generate a Second Name') %>
<% end %>

<h2>OR</h2>

<%= form_tag({controller: 'names', action: 'generate_love'}, {method: 'get'}) do %>
	<%= label_tag(:alpha_name, "Type in the first name:")%> <br>
	<%= text_field_tag(:alpha_name, @alpha, size: @alpha.length) %> <br>

	<h2>OR</h2>

	<%= link_to()%>
	
	<%= label_tag(:beta_name, "Type in the second name:")%> <br>
	<%= text_field_tag(:beta_name, @beta, size: @beta.length) %> <br>

	<h2>OR</h2>

	<%= link_to() %>

	<%= submit_tag('Calculate our Love') %>
<% end %>