<a id="anchor" href="#"></a>
<% if @calculated %>
<div class="row">
	<center>
		<div class="calculated-love">
			<div id="upper">
				<div class="col-xs-12 col-sm-4">
					<h2 id="first_h2"><%= @alpha %></h2>
				</div>
				<div class="col-xs-12 col-sm-4">
					<% if @love_result >= 0 && @love_result < 25 %>
						<%= image_tag("/love_0_25.png", { size: "200x200" }) %><br>
					<% elsif @love_result >= 25 && @love_result < 50 %>
						<%= image_tag("/love_25_50.png", { size: "200x200" }) %><br>
					<% elsif @love_result >= 50 && @love_result < 75 %>
						<%= image_tag("/love_50_75.png", { size: "200x200" }) %><br>
					<% else %>
						<%= image_tag("/love_75_100.png", { size: "200x200" }) %><br>
					<% end %>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h2 id="last_h2"><%= @beta %></h2>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12">
				<h1><span><%= @love %></span></h1>
			</div>
			<div class="col-xs-12 col-sm-12">
				<%= link_to("New calculation", anchor(names_love_calculator_path)) %>
			</div>
		</div>
	</center>
</div>
<% else %>
	<div class="row">
		<div class="col-xs-12">
			<center>
			<%= form_tag({controller: 'names', action: 'generate_love'}, {method: 'get', id: 'calculate_love_form'}) do %>
				<div class="row">
					<div id="alpha_container" class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
						<div class="row">
							<div class="col-xs-12">
								<%= label_tag(:alpha_name, "Type in the first name:")%> <br>
							</div>
							<div class="col-xs-12">
								<%= text_field_tag(:alpha_name, @alpha, size: @alpha.length, value: @alpha, class: "love_names") %><br>
							</div>

							<div class="col-xs-12">
								<h2>OR</h2>
							</div>

							<div class="col-xs-12">
								<%= link_to("Generate first name", names_love_calculator_path(name: "alpha")) %><br>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-4 col-md-4">
						<%= image_tag("/big_love.jpg", { size: "150x150" }) %>
					</div>

					<div id="beta_container" class="col-xs-12 col-sm-4 col-md-3">
						<div class="row">
							<div class="col-xs-12">
								<%= label_tag(:beta_name, "Type in the second name:")%> <br>
							</div>
							<div class="col-xs-12">
								<%= text_field_tag(:beta_name, @beta, size: @beta.length, value: @beta, class: "love_names") %><br>
							</div>
							
							<div class="col-xs-12">
								<h2>OR</h2>
							</div>

							<div class="col-xs-12">
								<%= link_to("Generate second name", names_love_calculator_path(name: "beta")) %><br>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<%= submit_tag('Calculate Love', id: "calculate_love_button") %>
				</div>
			<% end %>
			</center>
		</div>
	</div>
<% end %>