<div class="row">
	<div class="col-xs-12">
		<center>
			<a id="anchor" href="#"></a>
			<h1>Name Generator</h1>
		</center>
	</div>
</div>


		
<% if @name %>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
			<center id="homepage_main_name">	
				<p id="generated_name"><span><%= @name.generated %></span></p>
			</center>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="col-xs-12">
			<center id="homepage_main_name">
				<p>Choose your options and click on a new button to generate a <strong>new name</strong>.</p>
			</center>
		</div>
	</div>
<% end %>
	

<div class="row">
	<div class="col-xs-12">
		<center>
				<%= form_tag({controller: 'names', action: 'homepage', class: "form-inline"}, {method: 'get'}) do %>
					<div class="form-group">
						<%= submit_tag('Generate a name') %>
					</div>
					<div class="form-group">
							<%= label_tag(:first_names_number, "Select the number of first names:") %>
							<%= select_tag(:first_names_number, options_for_select(name_number_values(1, 2), @first_num))%> <br>
					</div>
					<div class="form-group">
							<%= label_tag(:surnames_number, "Select the number of last names:") %>
							<%= select_tag(:surnames_number, options_for_select(name_number_values(1, 2), @last_num)) %> <br>
					</div>
					<div class="form-group">
							<%= label_tag(:first_names_letter, "Select the first letter in the name:") %>
							<%= select_tag(:first_names_letter, options_for_select(alphabet_values, @first_letter)) %> <br>
					</div>
					<div class="form-group">
							<%= label_tag(:surnames_letter, "Select the first letter in the surname:") %>
							<%= select_tag(:surnames_letter, options_for_select(alphabet_values, @last_letter)) %> <br>
					</div>
				<% end %>
		</center>
	</div>
</div>