<!DOCTYPE html>
<html lang="en">
<head>
	<title>NamesR'us</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/love_icon.png" />
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>

<body onload='location.href="#anchor"'>
	<center>
		<div id="navbar" class="container">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-pills nav-justified">
						<li><%= link_to "Name Generator", anchor(root_path) %></li>
						<li><%= link_to "Generated names", anchor(names_generated_names_path) %></li>
						<li><%= link_to "Love calculator", anchor(names_love_calculator_path) %></li>
					</ul>
				</div>
			</div>
		</div>
	</center>

	<div id="main" class="container">
		<%= yield %>
	</div>
</body>
</html>